* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background:white;
}

.contenedor-formulario {
    background: rgb(70, 107, 120);
    width: 490px;
    color: white;
    position: relative;
    left: 37%;
    border-radius: 6px;
    bottom: 100px;
}

h1 {
    text-align: center;
    margin: 150px 0 20px 0px;
    padding-top: 30px;
}

form {
    text-align: center;
    margin-right: 30px;
}


.contenedor-formulario input[type="submit"] {
    border-radius: 6px;
    padding: 10px;
    background: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-left: 10px;
    border: 0px;
    position: relative;
    top: 18px;
}

.contenedor-formulario input[type="submit"]:hover{
    background: gray;
    transition: all .4s;
}

.contenedor-formulario input[type="text"],
.contenedor-formulario input[type="number"] {
    padding: 10px 5px 10px 5px;
    color: black;
    width: 270px;
    border-radius: 6px;
    border: 1px;
    display: inline-block;
    margin-top: 10px;
    margin: 3px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 20px 0; /* Aumentado el padding para espacio arriba y abajo del menú */
    margin-top: 20px; /* Agregado margen superior para espacio arriba del menú */
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 0.4%;
    padding: 25px;
    background: grey;
    text-align: center;
    color: white;
}

.h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightslategray;
    margin: 2px auto 0;
    max-width: 400px;
    position: relative;
    top: 30px;
    left: 1%;
}

p {
    margin-top: 10px;
    color: rgb(36, 35, 35);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}